<div id="login" class="container">
  <%= form_for :session, url: :session, html: {class: 'vertical-form'}  do |form| %>
    <legend><%= t 'headings.login' %></legend>
    <%= form.email_field :email,
      class: 'form-control',
      placeholder: t('placeholders.email'),
      required: "required",
      autofocus: true %>
    <%= form.password_field :password,
      class: "form-control",
      required: "required",
      placeholder: t("placeholders.password") %>
    <button class="btn btn-primary" type="submit">
      <%= t 'buttons.login' %>
    </button>
    <p class="text-center">
      <%= link_to t('links.forgot-password'), new_password_path %>
    </p>
  <% end %>
</div>
