<div class="container">
  <div class="row">
    <%= form_for @organization, url: :company_signup_business, method: :post, html: {class: 'vertical-form'}  do |form| %>
      <h1>Tell us about your business</h1>
      <div class="form-group <%= 'has-error' unless @organization.errors[:name].empty? %>">
        <%= form.text_field :name, class: 'form-control', placeholder: 'Business name', required: 'required', autofocus: true %>
        <% if @organization.errors[:name].any? %>
          <span class="help-block"><%= @organization.errors.full_messages_for(:name).first %></span>
        <% end %>
      </div>
      <div class="form-group <%= 'has-error' unless @organization.errors[:vat_number].empty? %>">
        <%= form.text_field :vat_number, class: 'form-control', placeholder: 'VAT number', required: 'required' %>
        <% if @organization.errors[:vat_number].any? %>
          <span class="help-block"><%= @organization.errors.full_messages_for(:vat_number).first %></span>
        <% end %>
      </div>
      <div class="form-group <%= 'has-error' unless @organization.errors[:tax_office].empty? %>">
        <%= form.text_field :vat_number, class: 'form-control', placeholder: 'VAT number', required: 'required' %>
        <% if @organization.errors[:tax_office].any? %>
          <span class="help-block"><%= @organization.errors.full_messages_for(:tax_office).first %></span>
        <% end %>
      </div>
      <div class="form-group <%= 'has-error' unless @organization.errors[:size].empty? %>">
        <%= form.label :size, 'Choose your company size', class: 'form-label' %>
        <div class="radio">
          <label>
            <%= form.radio_button :size, "0" %>
            Just you
          </label>
        </div>
        <div class="radio">
          <label>
            <%= form.radio_button :size, "2-9" %>
            2-9
          </label>
        </div>
        <div class="radio">
          <label>
            <%= form.radio_button :size, "10-99" %>
            10-99
          </label>
        </div>
        <div class="radio">
          <label>
            <%= form.radio_button :size, "100-299" %>
            100-299
          </label>
        </div>
        <div class="radio">
          <label>
            <%= form.radio_button :size, "300+" %>
            300+
          </label>
        </div>
        <% if @organization.errors[:size].any? %>
          <span class="help-block"><%= @organization.errors.full_messages_for(:size).first %></span>
        <% end %>
      </div>
      <button class="btn btn-primary" type="submit">Next</button>
    <% end %>
  </div>
</div>
