<div class="container">
  <div class="row">
    <%= form_for @organization, url: :company_signup_contact, method: :post, html: {class: 'vertical-form'}  do |form| %>
      <h1>Where is your business located</h1>
      <%= fields_for @organization.contact do |contact_fields| %>
        <div class="form-group <%= 'has-error' unless @organization.contact.errors[:first_name].empty? %>">
          <%= contact_fields.label :first_name, "Contact first name", class: 'control-label' %>
          <%= contact_fields.text_field :first_name, class: "form-control" %>
          <% if @organization.contact.errors[:first_name].any? %>
            <span class="help-block"><%= @organization.contact.errors.full_messages_for(:first_name).first %></span>
          <% end %>
        </div>
        <div class="form-group <%= 'has-error' unless @organization.contact.errors[:last_name].empty? %>">
          <%= contact_fields.label :last_name, "Contact last name", class: 'control-label' %>
          <%= contact_fields.text_field :last_name, class: "form-control" %>
          <% if @organization.contact.errors[:last_name].any? %>
            <span class="help-block"><%= @organization.contact.errors.full_messages_for(:last_name).first %></span>
          <% end %>
        </div>
        <div class="form-group <%= 'has-error' unless @organization.contact.errors[:email].empty? %>">
          <%= contact_fields.label :email, "Contact email", class: 'control-label' %>
          <%= contact_fields.text_field :email, class: "form-control" %>
          <% if @organization.contact.errors[:email].any? %>
            <span class="help-block"><%= @organization.contact.errors.full_messages_for(:email).first %></span>
          <% end %>
        </div>
      <% end %>
      <button class="btn btn-primary" type="submit">Next</button>
    <% end %>
  </div>
</div>
