<div id="login" class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
    <legend><%= t 'headings.login' %></legend>

    <div class="form-group">
      <%= form.email_field :email,
        class: 'form-control',
        placeholder: t('placeholders.email'),
        required: "required",
        autofocus: true,
        autocomplete: "email" %>
    </div>
    <div class="form-group">
      <%= form.password_field :password,
        class: "form-control",
        required: "required",
        placeholder: t("placeholders.password"),
        autocomplete: "off" %>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        <%= t 'buttons.login' %>
      </button>
    </div>
    <%- if devise_mapping.omniauthable? %>
      <div class="form-group text-center">
        <%= link_to image_tag('1x/btn_google_signin_dark_normal_web.png'), user_google_oauth2_omniauth_authorize_path, id: "google_login_link", alt: "Login with Google" %>
      </div>
    <% end -%>
    <p class="text-center">
    <%= render "users/shared/links" %>
    </p>
  <% end %>
</div>
