<div class="container">
<div class="row">
  <%= form_for @user, method: :put, url: update_user_profile_path, html: {class: 'form-horizontal'}  do |form| %>
    <div class="panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t 'edit_profile' %></h4>
        </div>
        <div class="panel-body">
          <%= render partial: "/errors", locals: {model: @user} %>
          <div class="form-group <%= 'has-error' unless @user.errors[:full_name].empty? %>">
            <%= form.label :full_name, t('labels.full_name'), class: 'col-sm-2 control-label' %>
            <div class="col-sm-7">
              <%= form.text_field :full_name,
                class: 'form-control',
                placeholder: t('placeholders.full_name'),
                autofocus: true %>
          </div>
          </div>
          <div class="form-group <%= 'has-error' unless @user.errors[:gender].empty? %>">
            <%= form.label :gender, t('labels.gender'), class: 'col-sm-2 control-label' %>
            <div class="col-sm-7">
              <%= form.select :gender,
                [['Male', t('male')], ['Female', t('female')]],
                { include_blank: true },
                { class: 'form-control' } %>
          </div>
          </div>
          <div class="form-group <%= 'has-error' unless @user.errors[:birth_date].empty? %>">
            <%= form.label :birth_date, t('labels.birth_date'), class: 'col-sm-2 control-label' %>
            <div class="col-sm-7">
              <%= form.date_select :birth_date, {
                start_year: Date.current.year - 100,
                end_year: Date.current.year - 18,
                use_month_names: [
                  t('january'),
                  t('february'),
                  t('march'),
                  t('april'),
                  t('may'),
                  t('june'),
                  t('july'),
                  t('august'),
                  t('september'),
                  t('october'),
                  t('november'),
                  t('december')
                ],
                prompt: {
                  day: t('labels.birth_date_day'),
                  month: t('labels.birth_date_month'),
                  year: t('labels.birth_date_year')
                },
              }, { class: 'form-control date-control' } %>
          </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-7">
              <button class="btn btn-default btn-primary" type="submit">
                <%= t 'buttons.update' %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= form_for @user, method: :put, url: update_user_settings_path, html: {class: 'form-horizontal'}  do |form| %>
    <div class="panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t 'edit_settings' %></h4>
        </div>
        <div class="panel-body">
          <div class="form-group <%= 'has-error' unless @user.errors[:country_id].empty? %>">
            <%= form.label :country, t('labels.country'), class: 'col-sm-2 control-label' %>
            <div class="col-sm-7">
              <%= form.select :country_id,
                options_from_collection_for_select(Country.all.sort, :id, :name, @user.country_id),
                { include_blank: true },
                { class: 'form-control' } %>
          </div>
          </div>
          <div class="form-group <%= 'has-error' unless @user.errors[:currency_id].empty? %>">
            <%= form.label :currency, t('labels.currency'), class: 'col-sm-2 control-label' %>
            <div class="col-sm-7">
              <%= form.select :currency_id,
                options_from_collection_for_select(Currency.all.sort, :id, :name, @user.currency_id),
                { include_blank: true },
                { class: 'form-control' } %>
          </div>
          </div>
          <div class="form-group <%= 'has-error' unless @user.errors[:language_id].empty? %>">
            <%= form.label :language, t('labels.language'), class: 'col-sm-2 control-label' %>
            <div class="col-sm-7">
              <%= form.select :language_id,
                options_from_collection_for_select(Language.all, :id, :name, @user.language_id),
                { include_blank: true },
                { class: 'form-control' } %>
          </div>
          </div>
          <div class="form-group <%= 'has-error' unless @user.errors[:time_zone].empty? %>">
            <%= form.label :time_zone, t('labels.time_zone'), class: 'col-sm-2 control-label' %>
            <div class="col-sm-7">
              <%= form.time_zone_select :time_zone,
                ActiveSupport::TimeZone.all.sort,
                { include_blank: true },
                { class: 'form-control' } %>
          </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-7">
              <button class="btn btn-default btn-primary" type="submit">
                <%= t 'buttons.update' %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= form_for @user, method: :put, url: update_user_preferences_path, html: {class: 'form-horizontal'}  do |form| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t 'edit_preferences' %></h4>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-7">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="newsletter">
                <%= form.check_box :receive_email_notifications %>
                <%= t 'labels.newsletter' %>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-7">
            <button class="btn btn-default btn-primary" type="submit">
              <%= t 'buttons.update' %>
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
