<div class="container register">
  <div id="registration" class="row">
    <div class="col-md-7 col-md-offset-2 panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t 'headings.register' %></h4>
        </div>
        <div class="panel-body">
          <%= render partial: "/errors", locals: {model: @user} %>
          <%= form_for @user, html: {class: 'form-horizontal'}  do |form| %>
            <div class="form-group <%= 'has-error' unless @user.errors[:email].empty? %>">
              <%= form.label :email, t('labels.email'), class: 'col-sm-2 control-label' %>
              <div class="col-sm-7">
                <%= form.email_field :email,
                  class: 'form-control',
                  placeholder: t('placeholders.email'),
                  autofocus: true %>
              </div>
            </div>
            <div class="form-group <%= 'has-error' unless @user.errors[:password].empty? %>">
              <%= form.label :password, t('labels.password'), class:'col-sm-2 control-label' %>
              <div class="col-sm-7">
                <%= form.password_field :password,
                  class: "form-control",
                  placeholder: t("placeholders.password") %>
              </div>
            </div>
            <div class="form-group <%= 'has-error' unless @user.errors[:password_confirmation].empty? %>">
              <%= form.label :password, t('labels.password_confirmation'), class:'col-sm-2 control-label' %>
              <div class="col-sm-7">
                <%= form.password_field :password_confirmation,
                    class: "form-control",
                    placeholder: t("placeholders.password_confirmation") %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-7">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="newsletter">
                    <%= t 'labels.newsletter' %>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-7">
                <small>
                  <%= t 'labels.user-agreement' %>
                  <a href="#"><%= t 'links.policies.terms' %></a>,
                  <a href="#"><%= t 'links.policies.cookies' %></a>
                  <%= t 'labels.and' %>
                  <a href="#"><%= t 'links.policies.privacy' %></a>.
                </small>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-7">
                <button class="btn btn-default btn-primary" type="submit">
                  <%= t 'buttons.register' %>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
