<%%= form_for(@<%= singular_table_name %>, html: {class: 'form-horizontal'}) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <p><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</p>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="form-group <%%= 'has-error' if @<%= singular_table_name %>.errors[:<%= attribute.column_name %>].any? %>">
<% unless attribute.field_type == :check_box -%>
    <%%= f.label :<%= attribute.column_name %>, class: 'col-sm-2 control-label' -%>
<% end -%>
    <div class="<%= 'col-sm-offset-2' if attribute.field_type == :check_box %> col-sm-10 col-md-6">
<% if attribute.field_type == :datetime_select || attribute.field_type == :date_select %>
      <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, {}, { class: 'form-control date-control' } -%>
<% elsif attribute.field_type == :check_box %>
      <div class="checkbox">
        <label>
          <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
          <%= attribute.name.titleize %>
        </label>
      </div>
<% else -%>
      <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'form-control' %>
<% end -%>
      <%% if @<%= singular_table_name %>.errors[:<%= attribute.column_name %>].any? %>
        <span class="help-block">
          <%%= @<%= singular_table_name %>.errors.full_messages_for(:<%= attribute.column_name %>).last %>
        </span>
      <%% end %>
    </div>
  </div>
<% end -%>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%%= f.submit class: "btn btn-primary" %>
      <%%= link_to 'Back', <%= index_helper %>_path, class: "btn btn-default" %>
    </div>
  </div>
<%% end %>
