<div id="organization" class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <%= form_for @organization do |form| %>
        <legend>Organization</legend>
        <div class="col-sm-7">
          <div class="form-group <%= 'has-error' unless @organization.errors[:name].empty? %>">
            <%= form.label :name, "Company name", class: 'control-label' %>
            <%= form.text_field :name, class: "form-control" %>
            <% if @organization.errors[:name].any? %>
              <span class="help-block"><%= @organization.errors.full_messages_for(:name).first %></span>
            <% end %>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="form-group <%= 'has-error' unless @organization.errors[:vat_number].empty? %>">
            <%= form.label :vat_number, "VAT number", class: 'control-label' %>
            <%= form.text_field :vat_number, class: "form-control" %>
            <% if @organization.errors[:vat_number].any? %>
              <span class="help-block"><%= @organization.errors.full_messages_for(:vat_number).first %></span>
            <% end %>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="form-group <%= 'has-error' unless @organization.errors[:tax_office].empty? %>">
            <%= form.label :tax_office, "Tax office", class: 'control-label' %>
            <%= form.text_field :tax_office, class: "form-control" %>
            <% if @organization.errors[:tax_office].any? %>
              <span class="help-block"><%= @organization.errors.full_messages_for(:tax_office).first %></span>
            <% end %>
          </div>
        </div>
        <%= form.fields_for :contact do |contact_fields| %>
          <div class="col-sm-7">
            <div class="form-group <%= 'has-error' unless @organization.contact.errors[:first_name].empty? %>">
              <%= contact_fields.label :first_name, "Contact first name", class: 'control-label' %>
              <%= contact_fields.text_field :first_name, class: "form-control" %>
              <% if @organization.contact.errors[:first_name].any? %>
                <span class="help-block"><%= @organization.contact.errors.full_messages_for(:first_name).first %></span>
              <% end %>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group <%= 'has-error' unless @organization.contact.errors[:last_name].empty? %>">
              <%= contact_fields.label :last_name, "Contact last name", class: 'control-label' %>
              <%= contact_fields.text_field :last_name, class: "form-control" %>
              <% if @organization.contact.errors[:last_name].any? %>
                <span class="help-block"><%= @organization.contact.errors.full_messages_for(:last_name).first %></span>
              <% end %>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group <%= 'has-error' unless @organization.contact.errors[:email].empty? %>">
              <%= contact_fields.label :email, "Contact email", class: 'control-label' %>
              <%= contact_fields.text_field :email, class: "form-control" %>
              <% if @organization.contact.errors[:email].any? %>
                <span class="help-block"><%= @organization.contact.errors.full_messages_for(:email).first %></span>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= form.fields_for :address do |address_fields| %>
          <div class="col-sm-7">
            <div class="form-group <%= 'has-error' unless @organization.address.errors[:street].empty? %>">
              <%= address_fields.label :street, "Street", class: 'control-label' %>
              <%= address_fields.text_field :street, class: "form-control" %>
              <% if @organization.address.errors[:street].any? %>
                <span class="help-block"><%= @organization.address.errors.full_messages_for(:street).first %></span>
              <% end %>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group <%= 'has-error' unless @organization.address.errors[:city].empty? %>">
              <%= address_fields.label :city, "City", class: 'control-label' %>
              <%= address_fields.text_field :city, class: "form-control" %>
              <% if @organization.address.errors[:city].any? %>
                <span class="help-block"><%= @organization.address.errors.full_messages_for(:city).first %></span>
              <% end %>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group <%= 'has-error' unless @organization.address.errors[:region].empty? %>">
              <%= address_fields.label :region, "Region", class: 'control-label' %>
              <%= address_fields.text_field :region, class: "form-control" %>
              <% if @organization.address.errors[:region].any? %>
                <span class="help-block"><%= @organization.address.errors.full_messages_for(:region).first %></span>
              <% end %>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group <%= 'has-error' unless @organization.address.errors[:postal_code].empty? %>">
              <%= address_fields.label :postal_code, "Postal code", class: 'control-label' %>
              <%= address_fields.text_field :postal_code, class: "form-control" %>
              <% if @organization.address.errors[:postal_code].any? %>
                <span class="help-block"><%= @organization.address.errors.full_messages_for(:postal_code).first %></span>
              <% end %>
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group <%= 'has-error' unless @organization.address.errors[:country].empty? %>">
              <%= address_fields.select :country_id,
                options_from_collection_for_select(Country.all.sort, :id, :name, @organization.address.country_id),
                { include_blank: true },
                { class: 'form-control' } %>
              <% if @organization.address.errors[:country].any? %>
                <span class="help-block"><%= @organization.address.errors.full_messages_for(:country).first %></span>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="col-sm-7">
          <div class="form-group">
            <button class="btn btn-default btn-primary" type="submit">
              Save
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
