<!DOCTYPE html>
<html>
<head>
  <title>Scaffold</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container flashes">
    <% if logged_in? %>
      <% unless current_user.email_confirmed? %>
        <div id="email-confirmation-warning" class="alert alert-warning">
          <p><%= t('warnings.email') %></p>
        </div>
      <% end %>
    <% end %>
    <%= render partial: "/flashes" %>
  </div>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <% if logged_out? %>
            <li role="presentation">
              <%= link_to t('buttons.register'), register_path %>
            </li>
            <li role="presentation">
              <%= link_to t('buttons.login'), login_path %>
            <li>
          <% else %>
            <li role="presentation">
              <%= link_to t('buttons.profile'), edit_user_path %>
            </li>
            <li role="presentation">
              <%= link_to t('buttons.account'), edit_account_path %>
            </li>
            <li role="presentation">
              <%= link_to t('buttons.logout'), logout_path, method: :delete %>
            </li>
          <% end %>
          <li role="presentation">
          <a href="#">
            <span class="glyphicon glyphicon-shopping-cart">
              <%= t 'button.cart' %>
            </span>
          </a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Project name</h3>
    </div>
  </div>

  <%= yield %>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">(c) Comany 2015</p>
    </div>
  </footer>
  </body>
</html>
