<div class="container">
  <div class="row">
    <%= render partial: "/errors", locals: {model: @account} %>
    <%= form_for @account, method: :put, url: change_password_path, html: {class: 'form-horizontal'}  do |form| %>
        <div class="panel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= t 'change_password' %></h4>
            </div>
            <div class="panel-body">
              <div class="form-group <%= 'has-error' unless @account.errors[:old_password].empty? %>">
                <%= form.label :old_password, t('labels.old_password'), class: 'col-sm-2 control-label' %>
                <div class="col-sm-7">
                  <%= form.password_field :old_password, class: 'form-control', autofocus: true %>
                </div>
              </div>
              <div class="form-group <%= 'has-error' unless @account.errors[:password].empty? %>">
                <%= form.label :password, t('labels.new_password'), class: 'col-sm-2 control-label' %>
                <div class="col-sm-7">
                  <%= form.password_field :password, class: 'form-control', autofocus: true %>
                </div>
              </div>
              <div class="form-group <%= 'has-error' unless @account.errors[:password_confirmation].empty? %>">
                <%= form.label :password_confirmation, t('labels.new_password_confirm'), class: 'col-sm-2 control-label' %>
                <div class="col-sm-7">
                  <%= form.password_field :password_confirmation, class: 'form-control', autofocus: true %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-7">
                  <button class="btn btn-default btn-primary" type="submit">
                    <%= t "change_password" %>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>