<div id="login" class="container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <%= devise_error_messages! %>

  <legend><%= t 'headings.register' %></legend>

  <div class="form-group <%= 'has-error' if resource.errors.include?(:email) %>">
    <% if resource.errors.include?(:email) %>
      <p class="error-text text-center text-danger">
        <%= resource.errors.full_messages_for(:email).first %></p>
    <% end %>

    <%= form.email_field :email,
      class: 'form-control',
      placeholder: t('placeholders.email'),
      required: "required",
      autofocus: true,
      autocomplete: "email" %>
  </div>

  <div class="form-group <%= 'has-error' if resource.errors.include?(:password) %>">
    <% if resource.errors.include?(:password) %>
      <p class="error-text text-center text-danger">
        <%= resource.errors.full_messages_for(:password).first %></p>
    <% end %>

    <%= form.password_field :password,
      class: "form-control",
      required: "required",
      placeholder: t("placeholders.password"),
      autocomplete: "off" %>
  </div>

  <div class="form-group <%= 'has-error' if resource.errors.include?(:password_confirmation) %>">
    <% if resource.errors.include?(:password_confirmation) %>
      <p class="error-text text-center text-danger">
        <%= resource.errors.full_messages_for(:password_confirmation).first %></p>
    <% end %>

    <%= form.password_field :password_confirmation,
      class: "form-control",
      required: "required",
      placeholder: t("placeholders.password"),
      autocomplete: "off" %>
  </div>

  <div class="form-group">
    <button class="btn btn-default btn-primary" type="submit">
      <%= t 'buttons.register' %>
    </button>
  </div>
  
  <p class="sub-text text-center">
  <%= render "users/shared/links" %>
  </p>
<% end %>
</div>
